# executable files
*.exe
*.bin
*
!*/
!*.*

# cross-compile output
dist/

# test cache
*.test

# air temp output
tmp/

# sqlite db file
!/internal/storage/

# env
.env
# cross-compile output
dist/

# test cache
*.test

# air temp output
tmp/

# sqlite db file
/storage/

# env
.env