<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Blogify | A simple and modern blogging platform</title>
  </head>
  <body>
    <div >
        <%- include('./partials/navbar')%>
    </div>

    <%- include('./partials/scripts'); %>
  </body>
</html>
